.App {
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
  width: calc(100vw - 18px);
  margin-top: 15%;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}