#jobDisplay {
    display: flex;
    flex-direction: column;

    .groupedJobList {
        width: 60vw;
        border: 2px solid rgb(192, 192, 192);
        border-radius: 5px;
        padding: 2%;
        padding-bottom: 0;
        letter-spacing: -1px;
        margin: 2.5% auto;
        left: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset, rgb(38, 57, 77) 0px 20px 30px -10px;

        a {
            text-decoration: none;
            color: black;
            border: 2px solid rgb(128, 128, 128);
            border-radius: 10px;

            img {
                height: 100px;
                width: 100px;
                padding: 1rem;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    
        .notes {
            font-size: 1.2rem;
            color: white;
            background-color: blue;
            margin: .5%;
            padding: .5%;
            border-radius: 20px;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            white-space: nowrap;
        }
        
        .companyTitle {
            display: flex;
            justify-content: space-between;
            font-size: 4rem;
            letter-spacing: -4px;
            font-weight: bold;
            padding: 0px 10%;
    
            span {
                text-align: left;
                display: flex;
                align-items: center;
                margin-left: 5%;
            }
        }
    
        ul {
            background-color: lightgray;

            &:hover {
                outline: #c1e0fe solid 4px;
            }

    
            li {
                background-color:white;
                text-align: left;
                margin: .3%;
                display: flex;
                justify-content: space-between;

                div {
                    width: auto;
                    padding: .3em;
                    font-size: 22px;
                    line-height: 1.7;
                    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
                }
            }
        }
    }
}

