#checkboxContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
    width: 50%;
    margin: 0 auto;

    #checkall button {
        margin: 5%;
        padding: 1rem;
    }

    #checkboxes {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap:wrap;
        font-size: 1.5rem;
        text-align: left;
        
        span {
            white-space:nowrap;
            width: 25%;
            padding-left: 7vw;
        }
    }
}