$font-color: #e6e6e6;

#inputArea {
    text-align: center;
    border: 1px solid orange;
    width: 100%;

    input {
        margin: 1%;
        padding: 1%;
    }

    label {
        font-size: 1rem;
        text-align: left;
        color: $font-color;
        padding-left: 5px;
    }
    
    #jobSearchInputContainer {
        display: flex;
        flex-direction: column;
        width: 10%;
        min-width: 200px;
        margin: 0 auto;
        font-size: 2rem;


        #jobSearchInput {
            height: 30px;
        }
    }

    #stateCityCompanies {
        display: flex;
        justify-content: center;
        margin: 1%;

        #stateInputContainer {
            display: flex;
            flex-direction: column;
        }

        #stateInput {
            height: 50px;
            margin: 0;
            padding: 0 10px;
        }

        #cityInputContainer {
            display: flex;
            flex-direction: column;
            margin: 0 2%;

            #cityInput {
                height: 45px;
                margin: 0% 2%;
                padding: 0 10px;
            }
        }
    
        
    }

    select {
        padding: 1%;
    }
}
    