$font-color: #272727;

#inputArea {
    text-align: center;
    width: 100%;

    h2 {
        font-size: 3.5rem;
        line-height: 1.5;
        margin: 40px 0 0;
    }

    input {
        margin: 1%;
        padding: 1%;
    }

    label {
        font-size: 1rem;
        text-align: left;
        color: $font-color;
        padding-left: 5px;

    }
    
    #jobSearchInputContainer {
        display: flex;
        flex-direction: column;
        width: 10%;
        min-width: 200px;
        margin: 0 auto;
        font-size: 2rem;


        #jobSearchInput {
            height: 30px;
            padding: 5%;
            padding-left: 15px;

            &:focus {
                outline: #c1e0fe solid 3px;
                outline-offset: -3px;
            }
        }
    }

    #stateCityCompanies {
        display: flex;
        justify-content: center;
        margin: 1%;

        #stateInputContainer {
            display: flex;
            flex-direction: column;
        }

        #stateInput {
            height: 50px;
            margin: 0;
            padding: 0 10px;

            &:focus {
                outline: #c1e0fe solid 3px;
                outline-offset: -3px;
            }
        }

        #cityInputContainer {
            display: flex;
            flex-direction: column;
            margin: 0 2%;

            #cityInput {
                height: 45px;
                margin: 0% 2%;
                padding: 0 10px;

                &:focus {
                    outline: #c1e0fe solid 3px;
                    outline-offset: -3px;
                }
            }
        }
    
        
    }

    select {
        padding: 1%;
    }

    #search {
        background-color: purple;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
    