#inputArea {
  text-align: center;
  width: 100%;
}

#inputArea h1 {
  font-size: 4rem;
  margin: 40px 0 0;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  #inputArea h1 {
    margin: 2%;
    padding: 2%;
  }
}

#inputArea h2 {
  margin-top: 0;
  margin-bottom: 40px;
}

#inputArea input {
  margin: 1%;
  padding: 1%;
}

#inputArea label {
  font-size: 1rem;
  text-align: left;
  color: #272727;
  padding-left: 5px;
}

@media screen and (max-width: 500px) {
  #inputArea label {
    text-align: center;
  }
}

#inputArea #jobSearchInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  min-width: 200px;
  margin: 0 auto;
  font-size: 2rem;
}

@media screen and (max-width: 500px) {
  #inputArea #jobSearchInputContainer {
    width: 80%;
  }
}

#inputArea #jobSearchInputContainer #jobSearchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

#inputArea #jobSearchInputContainer #jobSearchBar #jobSearchInput {
  font-size: 1.4rem;
  height: 30px;
  width: 90%;
  padding: 5%;
  padding-left: 15px;
  border: none;
}

#inputArea #jobSearchInputContainer #jobSearchBar #jobSearchInput:focus {
  outline: #c1e0fe solid 3px;
  outline-offset: -3px;
}

#inputArea #jobSearchInputContainer #jobSearchBar #jobSearchButton {
  margin: 3%;
  width: 20px;
  height: 15px;
  font-size: 9px;
  text-align: center;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#inputArea #stateCityCompanies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1%;
}

@media screen and (max-width: 500px) {
  #inputArea #stateCityCompanies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10%;
  }
}

#inputArea #stateCityCompanies #stateInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  #inputArea #stateCityCompanies #stateInputContainer {
    width: 50%;
    margin: 0 auto;
  }
}

#inputArea #stateCityCompanies #stateInput {
  height: 50px;
  margin: 0;
  padding: 0 10px;
}

#inputArea #stateCityCompanies #stateInput:focus {
  outline: #c1e0fe solid 3px;
  outline-offset: -3px;
}

#inputArea #stateCityCompanies #cityInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 2%;
}

@media screen and (max-width: 500px) {
  #inputArea #stateCityCompanies #cityInputContainer {
    margin: 5% auto;
  }
}

#inputArea #stateCityCompanies #cityInputContainer #cityInput {
  height: 45px;
  margin: 0% 2%;
  padding: 0 10px;
}

@media screen and (max-width: 500px) {
  #inputArea #stateCityCompanies #cityInputContainer #cityInput {
    width: 60%;
    margin: 0 auto;
  }
}

#inputArea #stateCityCompanies #cityInputContainer #cityInput:focus {
  outline: #c1e0fe solid 3px;
  outline-offset: -3px;
}

#inputArea select {
  padding: 1%;
}

#inputArea #search {
  background-color: purple;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  min-width: 90px;
  min-height: 60px;
}
/*# sourceMappingURL=clientInput.css.map */